{%extends "layout.html" %}

{% block content%}
<h1 class="text-post-title">Post</h1>

{% for post in posts %}
<div class="post-card">
    <div class="row">
        <div class="col-3">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-img-fixed" />
        </div>
        <div class="col-9">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-meta">{{ post.date|date:'M d Y'}}</p>
            <p class="post-content">{{ post.content|truncatechars:100 }}</p>
            <a href="{% url 'blog:post_detail' post.id %}" class="post-link">{{post.title}}</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
